adium-theme-ubuntu==0.3.4
backports.ssl-match-hostname==3.7.0.1
bernhard==0.2.6
bottle==0.12.16
cassandra-driver==3.16.0
certifi==2018.11.29
chardet==3.0.4
CouchDB==1.2
decorator==4.0.6
docker==3.7.0
docker-pycreds==0.4.0
elasticsearch==6.3.1
enum-compat==0.0.2
enum34==1.1.2
futures==3.2.0
Glances==3.1.0
idna==2.8
influxdb==5.2.1
ipaddress==1.0.22
ipython==2.4.1
Jinja2==2.8
kafka-python==1.4.4
MarkupSafe==0.23
netifaces==0.10.9
numpy==1.11.0
nvidia-ml-py3==7.352.0
paho-mqtt==1.4.0
pbkdf2==1.3
pexpect==4.0.1
pika==0.13.0
ply==3.11
potsdb==1.0.3
prometheus-client==0.5.0
protobuf==3.6.1
psutil==5.4.8
ptyprocess==0.5
py-cpuinfo==4.0.0
pyasn1==0.4.5
pycryptodomex==3.7.2
pycurl==7.43.0
pygal==2.4.0
pymdstat==0.4.2
PyMySQL==0.7.2
pysmi==0.3.3
pysnmp==4.4.8
pystache==0.5.4
python-dateutil==2.7.5
pytz==2018.9
pyzmq==15.2.0
requests==2.21.0
scandir==1.9.0
simplegeneric==0.8.1
six==1.10.0
statsd==3.3.0
tornado==4.2.1
unity-lens-photos==1.0
urllib3==1.24.1
websocket-client==0.54.0
wifi==0.3.8
zeroconf==0.19.1
